services:
  mariadb:
    image: yobasystems/alpine-mariadb:10.6.11
    platform: linux/amd64
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: toolshop

  laravel-api:
    image: testsmith/practice-software-testing-${SPRINT:-sprint5}-api
    platform: linux/amd64
    depends_on:
      - mariadb
    environment:
      PHP_OPCACHE_VALIDATE_TIMESTAMPS: "1"
      DB_PORT: "3306"
      DB_HOST: mariadb
      host: localhost
      DISABLE_LOGGING: "${DISABLE_LOGGING:-true}"
    volumes:
      - laravel-app-code:/var/www

  web:
    image: testsmith/practice-software-testing-web
    platform: linux/amd64
    ports:
      - "8091:80"
      - "8000:81"
    depends_on:
      - laravel-api

  angular-ui:
    image: testsmith/practice-software-testing-${SPRINT:-sprint5}-ui
    platform: linux/amd64
    ports:
      - "4200:4200"
    command: bash -c "ng serve --host 0.0.0.0 --port 4200"
    depends_on:
      - web

  cron:
    image: testsmith/practice-software-testing-cron
    platform: linux/amd64
    restart: always
    depends_on:
      - mariadb
      - laravel-api
    volumes:
      - laravel-app-code:/var/www
    working_dir: /var/www
    command: sh -c "crond -f -l 8"
    environment:
      PHP_OPCACHE_VALIDATE_TIMESTAMPS: "1"
      DB_PORT: "3306"
      DB_HOST: mariadb
      host: localhost
      DISABLE_LOGGING: "${DISABLE_LOGGING:-true}"

volumes:
  laravel-app-code: